version: 2.1

jobs:
  build:
    working_directory: ~/public
    docker:
      - image: circleci/node:24.11.0

    steps:
      - checkout

      - run:
          name: Update npm
          command: npm install -g npm@latest

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Install npm dependencies
          command: npm install

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

      - run:
          name: Run tests
          command: npm test

      - store_artifacts:
          path: test-results.xml
          prefix: tests

      - store_artifacts:
          path: coverage
          prefix: coverage

      - store_test_results:
          path: test-results.xml
